* {
  margin: 10px;
}
.divider {
  border: 1px solid #000;
  margin-bottom: 20px;
  margin-top: -10px;
}

.progress-container {
  width: 80px;
  height: 30px;
  background-color: #eee;
  border-radius: 15px;
  margin-bottom: 10px;
}

.progress-bar {
  width: 0%;
  height: 100%;
  background: #ffc4d6;
  border-radius: 15px;
  transition: width 0.5s ease;
}

.progress-container .percentage-display {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #333;
  position: relative;
  top: -25px;
  left: 25px;
}

button {
  padding: 12px 10px;
  background-color: #ff8fab;
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
