body{
        background-image: url("https://i.pinimg.com/1200x/a2/e7/1f/a2e71f27991f186601c5985f65943d17.jpg");
        background-size: 100vw;
        background-color: rgb(239, 162, 189);
        background-blend-mode: lighten;
        text-align: center;
        font-family: "Bosento", sans-serif;
    }

    #title {
        margin-top: 100px;
        line-height: 10px;
    }

    #subtitle {
        opacity: 0.7;
        font-size: 18px;
        margin-bottom: 20px;
    }

    #calendarContainer {
        display: flex;
        justify-items: center;
    }

    #calendarDiv {
        background-color: rgb(255, 255, 255);
        border-radius: 10px 10px 20px 20px;
        margin: auto;
        align-content: center;
        text-align: center;
        justify-content: center;
    }

    #calendarHeading {
        display: flex;
        justify-content: space-between;
        border-radius: 10px 10px 0px 0px;
        border: 2px solid black;
        padding: 0px 20px;
        background-color: rgb(239, 162, 189);
        line-height: 0px;
    }

    .days {
        display: flex;
    }

    .day {
        width: 30px;
        margin: 3px;
        padding: 10px;
        font-size: 15px;
        text-align: center;
        border: 2px solid black;
        border-radius: 20px;
        background-color: rgb(239, 162, 189);
    }
